<div class="container"><h1 class="col-md-6 col-md-offset-3 accroche">UN TISSU ECONOMIQUE FORT</h1></div>


   <div class="container col-md-6 col-md-offset-2">
    <h2>Un écosystème dynamique</h2>
    
    <img class="imgemploi" src="/img/emploi-630x0.JPG" alt="environnement">
    <p>un bassin de vie de plus de 57 000 habitants avec 20 000 emplois dont 13 500 salariés. </br>
    Plus de 160 établissements (industries, PME, ...).</br>
    4000 salariés dans l'Industrie. </br>
    Une main d'oeuvre motivée, stable, de qualité et attachée au territoire du Perche.
    </p>
</div>
   <div class="container col-md-6 col-md-offset-2">
    <h2>Un positionnement stratégique</h2>
    <p>À seulement 1h30 de la Région Ile de France.</p>
    <iframe width="640" height="360" src="https://www.youtube.com/embed/iVN6f8-Vkvw?&autoplay=1&loop=1&rel=0&showinfo=0&color=white&iv_load_policy=3&playlist=iVN6f8-Vkvw" frameborder="0" allowfullscreen></iframe>
</div>
   <div class="container col-md-6 col-md-offset-2">
    <h2>Un programme d'accompagnement pour les entreprises</h2>
    <iframe src="https://player.vimeo.com/video/40416273" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>  
    <p>Désormais placé sous l'autorité des Régions, le programme LEADER est dédié aux territoires ruraux et permet de bénéficier de financements spécifiques pour des actions ciblées, innovantes et co-construites avec les acteurs privés.</p
        
    </p>
</div>
<div class="container col-md-6 col-md-offset-2" >
    <h2>Un environnement de qualité</h2>
    <img class="imgvtt" src="/img/img_2219.jpg" alt="environnement">
    <p>Le Perche  propose un cadre de vie exceptionnel à proximité de Paris et sa région, tout en étant ouvert sur le Grand-Ouest de la France.</br>
    L'identité percheronne reste fortement ancrée et présente un réel potentiel touristique au coeur du Parc Naturel Régional du Perch, véritable poumon vert, gage d'une qualité de vie exceptionnelle aux porte de Paris et de la Normandie.
    </p>
</div>



