<center style="margin-top: 10%">
<div class="container admin">
  <div class="range first">
    <div class="tile createActivity" style="width: 480px; background-color: #741F62" data-toggle="modal" data-target=".bs-example-modal-lg">
        <div class="justHover"></div>
        <div class="littletitle">
            <p>Créer une carte de visite</p>
        </div>
    </div>
    <div class="tile createActivity" style="width: 480px; background-color: #741F62" data-toggle="modal" data-target="#modal-user">
        <div class="justHover">
        </div>
        <p class="littletitle">Gérer les utilisateurs</p>
    </div>
    <div class="tile createActivity" style="width: 480px; background-color: #F6A327" data-toggle="modal" data-target="#modal-contact">
        <div class="justHover">
        </div>
        <p class="littletitle">Gérer les contacts</p>
    </div>
    <div class="tile createActivity" id="buttonExport" style="width: 480px; background-color: #F6A327">
        <div class="justHover"></div>
        <p class="littletitle">Exporter les données</p>
    </div>
    <div class="tile createActivity" style="width: 480px; background-color: #38B8C8" data-toggle="modal" data-target="#modal-agenda">
      <div class="justHover"></div>
        <p class="littletitle">Créer un évènement</p>
    </div>
    <div class="tile createActivity" style="width: 480px; background-color: #38B8C8" data-toggle="modal" data-target="#modal-agenda-gestion">
      <div class="justHover"></div>
        <p class="littletitle">Administrer l'agenda</p>
    </div>
    <div class="tile createActivity" style="width: 480px; background-color: #E73664" data-toggle="modal" data-target="#modal-bureau">
      <div class="justHover"></div>
        <p class="littletitle">Ajouter un commerce ou un bureau à reprendre</p>
    </div>
    <div class="tile createActivity" style="width: 480px; background-color: #E73664" data-toggle="modal" data-target="#modal-bureau-gestion">
      <div class="justHover"></div>
        <p class="littletitle">Gérer les commerces et les bureaux à reprendre</p>
    </div>
    <div class="tile createActivity" style="width: 480px; background-color: #AAAE18" data-toggle="modal" data-target="#modal-temoignage">
      <div class="justHover"></div>
        <p class="littletitle">Ajouter un témoignage</p>
    </div>
    <div class="tile createActivity" style="width: 480px; background-color: #AAAE18" data-toggle="modal" data-target="#modal-temoignage-gestion">
      <div class="justHover"></div>
        <p class="littletitle">Gérer les témoignages</p>
    </div>

</div>
</div>


<!-- ----------------------------------------- MODAL CARD --------------------------------------------- -->

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="createBox modal-dialog modal-lg">
            <div class="modal-body">


                    <form class="form-signin" style="text-align:center;">

                      <h3> Ses identifiants </h3>
                        <input type="email" class="form-control" ng-model="userEmail" placeholder="Adresse mail" required>
                        <input type="password" class="form-control" ng-model="userMdp" placeholder="Mot de passe" required>
                        <input type="password" class="form-control" placeholder="Confirmez le mot de passe" required>
                      <h3> Ses informations </h3>
                        <input type="name" class="form-control" ng-model="userName" placeholder="Nom" required>
                        <input type="firstname" class="form-control" ng-model="userFirstname" placeholder="Prénom" required>
                        <input type="fonction" class="form-control" ng-model="userFunction" placeholder="Fonction" required>
                        <input type="enterprise" class="form-control" ng-model="userEnterprise" placeholder="Structure" required>
                        <input type="ville" class="form-control" ng-model="userVille" placeholder="Ville" required>
                        <input type="phone" class="form-control" ng-model="userPhone" placeholder="Numéro de téléphone" required>
                        <textarea style="resize:vertical;" class="form-control form-message" ng-model="userNote" placeholder="Note à propos de l'élu" required></textarea>

                      <h3> Sa photo </h3>

                        <div flow-init flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-name="uploader.flow" flow-files-added="processFileUser($files)">
                            <center>
                                <button flow-btn flow-attrs="{accept:'image/*'}" type="file" class="btn btn-success">Télécharger une image</button>
                            </center>

                            <center>
                                <img ng-show="photo" src="http://www.clipartbest.com/cliparts/4ib/Kz7/4ibKz78KT.gif" alt="" />
                                <div ng-hide="photo">
                                  <img class="preview" flow-img="{{userImg}}" />
                                  <img class="preview" ng-src="{{userImg}}" />
                                </div>
                            </center>
                        </div>
                        <p>
                            <span ng-hide="photo" class="btn fa fa-trash" ng-click="photo = true"></span>
                        </p>
                        <a data-dismiss="modal"><button class="btn btn-lg btn-success" style="padding-bottom: 35px; margin-top: 60px" ng-click="add()" type="submit">
                            Créer !</button></a>
                        </br>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Retour</button>

                  </form>
        </div>
    </div>
</div>

<!-- ----------------------------------------- MODAL USERS --------------------------------------------- -->

<div class="modal fade" id="modal-user" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="createBox modal-dialog modal-lg">
            <div class="modal-body">
              <ul class="list-group">
                  <li class="list-group-item" ng-repeat="user in userlist" style="padding-bottom: 50px;">
                      <form class="form-inline">
                          <div class="form-group" >
                            <input type="name" class="form-control admin" ng-model="user.userName" placeholder="Votre nom" required>
                            <input type="firstname" class="form-control admin" ng-model="user.userFirstname" placeholder="Votre prénom" required>
                            <input type="email" class="form-control admin" ng-model="user.userEmail" placeholder="Votre email" required>
                            <input type="password" class="form-control admin" ng-model="user.userMdp" placeholder="Votre mot de passe" required>
                            <input type="fonction" class="form-control admin" ng-model="user.userFunction" placeholder="Votre fonction" required>
                            <input type="enterprise" class="form-control admin" ng-model="user.userEnterprise" placeholder="Votre structure" required>
                            <input type="ville" class="form-control admin" ng-model="user.userVille" placeholder="Votre ville" required>
                            <input type="phone" class="form-control admin" ng-model="user.userPhone" placeholder="Votre numéro de téléphone" required>
                            <input type="note" class="form-control admin" ng-model="user.userNote" placeholder="Note à propos de vous" required>

                          </div>
                          <div>
                              <a data-dismiss="modal"><button type="submit" class="btn btn-default" style="width: 250px" ng-click="update(user)">Mettre à jour</button></a>
                              <a data-dismiss="modal"><button class="btn btn-danger" style="width: 250px" ng-click="delete(user,'user')">Supprimer</button></a>
                          </div>

                      </form>
                  </li>
                </br>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Retour</button>

              </ul>
        </div>
    </div>
</div>

<!-- ----------------------------------------- MODAL CONTACTS --------------------------------------------- -->

<div class="modal fade" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="createBox modal-dialog modal-lg">
            <div class="modal-body">
              <ul class="list-group">
                  <li class="list-group-item" type="checkbox" ng-repeat="contact in contactlist" style="padding-bottom: 50px;">
                      <form class="form-inline">
                          <div class="form-group">
                            <input type="name" class="form-control admin" ng-model="contact.contactName" placeholder="Votre nom" required>
                            <input type="firstname" class="form-control admin" ng-model="contact.contactFirstname" placeholder="Votre prénom" required>
                            <input type="email" class="form-control admin" ng-model="contact.contactEmail" placeholder="Votre email" required>
                            <input type="fonction" class="form-control admin" ng-model="contact.contactFunction" placeholder="Votre fonction" required>
                            <input type="enterprise" class="form-control admin" ng-model="contact.contactEnterprise" placeholder="Votre structure" required>
                            <input type="ville" class="form-control admin" ng-model="contact.contactVille" placeholder="Votre ville" required>
                            <input type="phone" class="form-control admin" ng-model="contact.contactPhone" placeholder="Votre numéro de téléphone" required>
                            <input type="note" class="form-control admin" ng-model="contact.contactNote" placeholder="Note à propos de vous" required>

                          </div>
                              <a data-dismiss="modal"><button class="btn btn-danger" style="width: 250px" ng-click="delete(contact,'contact')">Supprimer</button></a>
                      </form>
                  </li>
                </br>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Retour</button>

              </ul>
        </div>
    </div>
</div>

<!-- ----------------------------------------- MODAL CREATE AGENDA --------------------------------------------- -->

<div class="modal fade" id="modal-agenda" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="createBox modal-dialog modal-lg">
            <div class="modal-body">

                    <form class="form-signin" style="text-align:center;">

                      <h3> Ajouter un évenement </h3>
                        <input type="text" class="form-control" ng-model="agendaTitle" placeholder="Renseigner le titre de l'évènement" required>
                        <input type="date" class="form-control input-md" ng-model="agendaDate" placeholder="Renseigner la date" required>
                        <input type="time" class="form-control" ng-model="agendaHour" placeholder="Ajouter l'horaire" required>
                        <input type="text" class="form-control" ng-model="agendaPrice" placeholder="Renseigner le prix" required>
                        <input type="text" class="form-control" ng-model="agendaCity" placeholder="Renseigner le lieu" required>
                        <textarea style="resize:vertical;" class="form-control form-message" ng-model="agendaDescription" placeholder="Ajouter une description" required></textarea>



                                <h3> Une photo ? </h3>
                                    <div flow-init="{target: '/upload', singleFile: true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-name="uploader.flow" flow-files-added="processFilesAgenda($files)">

                                    					<center>
                                    						<button flow-btn flow-attrs="{accept:'image/*'}" type="file" class="btn btn-success">Télécharger une image</button>
                                    					</center>


                                              <center>
                                                <img class="preview" flow-img="{{agendaImg}}" />
                                                <img class="preview" ng-src="{{agendaImg}}" />
                  </center>


                                    				</div>
                        </br><input type="text" class="form-control" ng-model="agendaLink" placeholder="Indiquez le lien vers la billeterie" required>
                          <a data-dismiss="modal"><button class="btn btn-lg btn-success" style="padding-bottom: 35px; margin-top: 60px" ng-click="addAgenda()" type="submit">
                            Créer !</button></a>
                          </br>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Retour</button>

                    </form>

                  </div>

        </div>
    </div>
</div>

<!-- ----------------------------------------- MODAL AGENDA --------------------------------------------- -->

<div class="modal fade" id="modal-agenda-gestion" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="createBox modal-dialog modal-lg">

            <div class="modal-body">
              <ul class="list-group">
                  <li class="list-group-item" type="checkbox" ng-repeat="agenda in agendalist" style="padding-bottom: 50px;">
                      <form class="form-inline">
                          <div class="form-group">
                            <input type="text" class="form-control admin" ng-model="agenda.agendaTitle" placeholder="Titre de l'évènement" required>
                            <input type="text" class="form-control admin" ng-model="agenda.agendaDescription" placeholder="Description" required>
                            <input type="text" class="form-control admin" ng-model="agenda.agendaDate" placeholder="Date" required>
                            <input type="text" class="form-control admin" ng-model="agenda.agendaHour" placeholder="Heure" required>
                            <input type="text" class="form-control admin" ng-model="agenda.agendaCity" placeholder="Ville" required>
                            <input type="text" class="form-control admin" ng-model="agenda.agendaPrice" placeholder="Prix" required>
                            <input type="text" class="form-control admin" ng-model="agenda.agendaLink" placeholder="Lien" required>
                          </div>
                              <a data-dismiss="modal"><button type="submit" class="btn btn-default" style="width: 250px" ng-click="updateAgenda(agenda)">Mettre à jour</button></a>
                              <a data-dismiss="modal"><button class="btn btn-danger" style="width: 250px" ng-click="delete(agenda,'agenda')">Supprimer</button></a>
                      </form>
                  </li>
                </br>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Retour</button>
              </ul>
            </div>

    </div>
</div>
<!-- ----------------------------------------- MODAL CREATE OFFICE --------------------------------------------- -->

<div class="modal fade" id="modal-bureau" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="createBox modal-dialog modal-lg">

            <div class="modal-body">

                    <form class="form-signin" style="text-align:center;">

                      <h3> Ajouter un commerce ou un bureau à reprendre </h3>
                        <input type="text" class="form-control" ng-model="bureauType" placeholder="Renseigner le type de bureau ou de commerce" required>
                        <input type="text" class="form-control input-md" ng-model="bureauSurface" placeholder="Renseigner la surface" required>
                        <input type="text" class="form-control" ng-model="bureauSecteur" placeholder="Renseigner le secteur" required>
                        <input type="description" class="form-control" ng-model="bureauPrice" placeholder="Renseigner le prix" required>
                        <textarea style="resize:vertical;" class="form-control form-message" ng-model="bureauDescription" placeholder="Ajouter une description" required></textarea>



                                <h3> Une photo ? </h3>
                                    <div flow-init="{target: '/upload', singleFile: true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-name="uploader.flow" flow-files-added="processFilesOffice($files)">

                                    					<center>
                                    						<button flow-btn flow-attrs="{accept:'image/*'}" type="file" class="btn btn-success">Télécharger une image</button>
                                    					</center>


                                              <center>
                                                <img class="preview" flow-img="{{bureauImg}}" />
                                                <img class="preview" ng-src="{{bureauImg}}" />
                  </center>


                                    				</div>
                          <a data-dismiss="modal"><button class="btn btn-lg btn-success" style="padding-bottom: 35px; margin-top: 60px" ng-click="addBureau()" type="submit">
                            Ajouter !</button></a>
                          </br>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Retour</button>

                    </form>

                  </div>
            </div>
    </div>
</div>
<!-- ----------------------------------------- MODAL OFFICES --------------------------------------------- -->

<div class="modal fade" id="modal-bureau-gestion" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="createBox modal-dialog modal-lg">


            <div class="modal-body">
              <ul class="list-group">
                  <li class="list-group-item" type="checkbox" ng-repeat="bureau in bureaulist" style="padding-bottom: 50px;">
                      <form class="form-inline">
                          <div class="form-group">
                            <input type="text" class="form-control admin" ng-model="bureau.bureauType" placeholder="Type de commerce" required>
                            <input type="text" class="form-control admin" ng-model="bureau.bureauDescription" placeholder="Description" required>
                            <input type="text" class="form-control admin" ng-model="bureau.bureauSurface" placeholder="Surface" required>
                            <input type="text" class="form-control admin" ng-model="bureau.bureauSecteur" placeholder="Secteur" required>
                            <input type="text" class="form-control admin" ng-model="bureau.bureauPrice" placeholder="Prix" required>
                          </div>
                              <a data-dismiss="modal"><button type="submit" class="btn btn-default" style="width: 250px" ng-click="updateBureau(bureau)">Mettre à jour</button></a>
                              <a data-dismiss="modal"><button class="btn btn-danger" style="width: 250px" ng-click="delete(bureau,'bureau')">Supprimer</button></a>
                      </form>
                  </li>
                </br>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Retour</button>
              </ul>
            </div>
<!--        </div>-->

    </div>
</div>
<!-- ----------------------------------------- MODAL CREATE TESTIMONIAL --------------------------------------------- -->

<div class="modal fade" id="modal-temoignage" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="createBox modal-dialog modal-lg">
            <div class="modal-body">

                    <form class="form-signin" style="text-align:center;">

                      <h3> Ajouter un témoignage </h3>
                        <input type="text" class="form-control" ng-model="temoignageName" placeholder="Renseigner le nom" required>
                        <input type="description" class="form-control" ng-model="temoignageFirstname" placeholder="Renseigner le prénom" required>
                        <input type="text" class="form-control input-md" ng-model="temoignageAge" placeholder="Renseigner l'âge" required>
                        <input type="text" class="form-control" ng-model="temoignageFunction" placeholder="Renseigner la fonction" required>
                        <input type="description" class="form-control" ng-model="temoignageSecteur" placeholder="Renseigner la ville" required>
                        <textarea style="resize:vertical;" class="form-control form-message" ng-model="temoignageDescription" placeholder="Ajouter un témoignage" required></textarea>


                                <h3> Une photo ? </h3>
                                    <div flow-init="{target: '/upload', singleFile: true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-name="uploader.flow" flow-files-added="processFilesTestimonial($files)">

                                    					<center>
                                    						<button flow-btn flow-attrs="{accept:'image/*'}" type="file" class="btn btn-success">Télécharger une image</button>
                                    					</center>


                                              <center>
                                                <img class="preview" flow-img="{{temoignageImg}}" />
                                                <img class="preview" ng-src="{{temoignageImg}}" />
                  </center>


                                    				</div>
                          <a data-dismiss="modal"><button class="btn btn-lg btn-success" style="padding-bottom: 35px; margin-top: 60px" ng-click="addTemoignage()" type="submit">
                            Ajouter !</button></a>
                          </br>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Retour</button>

                    </form>

        </div>
    </div>
</div>


<!-- ----------------------------------------- MODAL TESTIMONIALS --------------------------------------------- -->

<div class="modal fade" id="modal-temoignage-gestion" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="createBox modal-dialog modal-lg">

            <div class="modal-body">
              <ul class="list-group">
                  <li class="list-group-item" type="checkbox" ng-repeat="temoignage in temoignagelist" style="padding-bottom: 50px;">
                      <form class="form-inline">
                          <div class="form-group">
                            <input type="text" class="form-control admin" ng-model="temoignage.temoignageName" placeholder="Nom" required>
                            <input type="text" class="form-control admin" ng-model="temoignage.temoignageFirstname" placeholder="Prénom" required>
                            <input type="text" class="form-control admin" ng-model="temoignage.temoignageAge" placeholder="Âge" required>
                            <input type="text" class="form-control admin" ng-model="temoignage.temoignageFunction" placeholder="Fonction" required>
                            <input type="text" class="form-control admin" ng-model="temoignage.temoignageSecteur" placeholder="Ville" required>
                            <input type="text" class="form-control admin" ng-model="temoignage.temoignageDescription" placeholder="Témoignage" required>
                          </div>
                              <a data-dismiss="modal"><button type="submit" class="btn btn-default" style="width: 250px" ng-click="updateTemoignage(temoignage)">Mettre à jour</button></a>
                              <a data-dismiss="modal"><button class="btn btn-danger" style="width: 250px" ng-click="delete(temoignage,'temoignage')">Supprimer</button></a>
                      </form>
                  </li>
                </br>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Retour</button>
              </ul>
            </div>

    </div>
</div>
<!-- ----------------------------------------- MODAL EXPORT --------------------------------------------- -->

<div class="modal fade" id="modal-export" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="createBox modal-dialog modal-lg">
            <div class="modal-body">
              <button id="buttonExport">exporter</button>
        </div>
    </div>
</div>
</center>
