<center style="margin-top: 10%">
<!-- <button name="bouton">Gérer les utilisateurs</button>
<button name="bouton">Gérer les données</button>
<button name="bouton">Exporter tous les contacts</button>
<button name="bouton">Exporter la liste des élus</button>
<button name="bouton">Exporter l'ensemble des données</button> -->
<div class="container admin">
  <div class="range first">
    <div class="tile createActivity ">
        <div class="justHover" data-toggle="modal" data-target=".bs-example-modal-lg"></div>
        <!-- <div class="justHover"></div> -->
        <div class="littletitle">
            <p>Créer une carte de visite</p>
        </div>
    </div>
  </div>
</div>
</center>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="createBox modal-dialog modal-lg">
        <div class="modal-content" style="margin-top: -250px">
            <div class="modal-body">

                  <div class="account-wall">
                    <center>
                        <img src="img/logo_pole.png" alt="" width="280px">
                    </center>
                    <form class="form-signin" style="text-align:center;">

                      <h3> Vos identifiants </h3>
                        <input type="email" class="form-control" ng-model="userEmail" placeholder="Votre adresse mail" required>
                        <input type="password" class="form-control" ng-model="userMdp" placeholder="Votre mot de passe" required>
                        <input type="password" class="form-control" placeholder="Confirmez votre mot de passe" required>
                      <h3> Vos informations </h3>
                        <input type="name" class="form-control" ng-model="userName" placeholder="Votre nom" required>
                        <input type="firstname" class="form-control" ng-model="userFirstname" placeholder="Votre prénom" required>
                        <input type="fonction" class="form-control" ng-model="userFunction" placeholder="Votre fonction" required>
                        <input type="enterprise" class="form-control" ng-model="userEnterprise" placeholder="Votre structure" required>
                        <input type="ville" class="form-control" ng-model="userVille" placeholder="Votre ville" required>
                        <input type="phone" class="form-control" ng-model="userPhone" placeholder="Votre numéro de téléphone" required>
                        <input type="note" class="form-control" ng-model="userNote" placeholder="Note à propos de vous" required>



                                <h3> Votre photo </h3>
                                    <div flow-init="{target: '/upload', singleFile: true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-name="uploader.flow" flow-files-added="processFiles($files)">

                                    					<center>
                                    						<button flow-btn flow-attrs="{accept:'image/*'}" type="file" ng-click="download" class="btn btn-success">Télécharger une image</button>
                                    					</center>


                                              <center>
                    <span class="text"></span><img class="preview" flow-img="image" />
                    <br>
                    <span class="text"></span> <img class="preview" ng-src="{{friend.userImg}}" />
                    <p>
                      <span class="btn fa fa-trash" ng-show="$flow.files.length" ng-click="image.cancel()"></span>

                    </p>
                  </center>


                                    				</div>
                          <a href="#/"><button class="btn btn-lg btn-success" style="padding-bottom: 35px; margin-top: 60px" ng-click="add()" type="submit">
                            Créer !</button></a>
                          </br>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Retour</button>

                    </form>

                  </div>
            </div>
        </div>
    </div>
</div>
