<!--header-->
<div style="width:100%; height:80px; overflow:hidden; margin-top: 140px; background-color:#333">

    <div style="width:750px; height:80px; margin: 0 auto; overflow:hidden; position:relative;">

        <div id="caption" style="height:44px; margin-top:20px;float:left; margin-left:12px; position:absolute">Les bureaux et commerces à reprendre </div>

        <div id="backbutton" style="height:44px; width:44px; margin-top:15px; float:left; position:absolute"> <img src="img/backbtn.png" width="44" height="44" /> </div>

        <div id="pagecaption" style="height:44px; margin-top:20px;float:left; margin-left:12px; position:absolute"> Caption </div>
    </div>
</div>


<!--content-->


<div>
    
    
</div>