<div class="container">
  <h1 class="account">Créer un compte</h1>
    <div class="row  col-md-6 col-md-offset-3">

        <div class="account-wall">
            <center>
                <img src="img/logo_pole.png" alt="" width="280px">
            </center>
            <form class="form-signin" style="text-align:center;">

                <p>Merci d'entrer un nom d'utilisateur, un mot de passe et de renseigner votre adresse mail</p>
                <input type="text" class="form-control" ng-model="registration.userName" placeholder="Nom d'utilisateur" required autofocus>
                <input type="text" class="form-control" ng-model="registration.userEmail" placeholder="Email" required autofocus>
                <input type="password" class="form-control" ng-model="registration.userPassword" placeholder="Mot de Passe" required>
                <input type="password" class="form-control" ng-model="confirmPassword" placeholder="Confirmer votre mot de passe" required>
                <!--<div class="alert alert-danger" ng-show="connection==1" role="alert">Veuillez entrer un email ou un mot de passe valide.</div>-->

                <p>Afin de créer un compte, veuillez remplir les champs ci-dessous</p>
                <input type="text" class="form-control" ng-model="registration.firstName" placeholder="Nom" required autofocus>
                <input type="text" class="form-control" ng-model="registration.lastName" placeholder="Prénom" required autofocus>
                <input type="text" class="form-control" ng-model="registration.userEnterprise" placeholder="Structure / Entreprise" autofocus>
                <input type="text" class="form-control" ng-model="registration.userFunction" placeholder="Fonction" required autofocus>
                <input type="text" class="form-control" ng-model="registration.userPhone" placeholder="Numéro de téléphone" autofocus>
                <input type="checkbox" value="acceptCGU"> J'accepte les <a href="#">Conditions générales d'utilisation</a>
                <button class="btn btn-lg btn-success btn-block" ng-click="signUp()" type="submit">
                    S'enregistrer</button>

                <p><a href="#/connexion">Retour à la page de connexion</a></p>
            </form>

        </div>

    </div>
</div>
