<div class="container">

    <div class="row  col-md-6 col-md-offset-3">

            <center>
                <img src="img/logo_pole.png" alt="" width="280px">
            </center>
            <form class="form-signin" style="text-align:center;">
              <h3> Vos identifiants </h3>
                <input type="email" class="form-control" ng-model="contactEmail" placeholder="Votre adresse mail" required>
                <input type="password" class="form-control" ng-model="contactMdp" placeholder="Votre mot de passe" required>
                <input type="password" class="form-control" placeholder="Confirmez votre mot de passe" required>
              <h3> Vos informations </h3>
                <input type="name" class="form-control" ng-model="contactName" placeholder="Votre nom" required>
                <input type="firstname" class="form-control" ng-model="contactFirstname" placeholder="Votre prénom" required>
                <input type="fonction" class="form-control" ng-model="contactFunction" placeholder="Votre fonction" required>
                <input type="enterprise" class="form-control" ng-model="contactEnterprise" placeholder="Votre structure" required>
                <input type="ville" class="form-control" ng-model="contactVille" placeholder="Votre ville" required>
                <input type="phone" class="form-control" ng-model="contactPhone" placeholder="Votre numéro de téléphone" required>
                <input type="note" class="form-control" ng-model="contactNote" placeholder="Note à propos de vous" required>



              <h3> Votre photo </h3>
              <div flow-init flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-name="uploader.flow" flow-files-added="processFileUser($files)">
                  <center>
                      <button flow-btn flow-attrs="{accept:'image/*'}" type="file" class="btn btn-success">Télécharger une image</button>
                  </center>

                  <center>
                      <img ng-show="photo" src="http://www.clipartbest.com/cliparts/4ib/Kz7/4ibKz78KT.gif" alt="" />
                      <div ng-hide="photo">
                        <img class="preview" flow-img="{{contactImg}}" />
                        <img class="preview" ng-src="{{contactImg}}" />
                      </div>
                  </center>
              </div>
              <p>
                  <span ng-hide="photo" class="btn fa fa-trash" ng-click="photo = true"></span>
              </p>
                <a href="#/"><button class="btn btn-lg btn-success" style="padding-bottom: 35px; margin-top: 60px" ng-click="add()" type="submit">
                    S'enregistrer et nous contacter !</button></a>
            </form>
    </div>
</div>
