<div class="mentionsLegales">
    <h1 class="mentionTitle">Mentions légales</h1>

    <h2>Informations Editeur</h2>

    <div class="textMentions">
        <p>
            <strong>Dénomination sociale</strong>
            : Pays du Perche, syndicat intercommunal pour le développement du territoire du Perche</p>
        <p>
            <strong>Siège sociale</strong>
            : Six rue Doullay 28400 Nogent le Rotrou</p>
        <p>
            <strong>Numéro de téléphone</strong>
            : 02 37 29 09 29</p>
        <p>
            <strong>Directeur de la publication</strong>
            : Jean-Pierre Jallot, Président du Pays du Perche</p>
    </div>

    <h2>Informations Concepteur & Hébergeur</h2>
    <div class="textMentions">
        <p>
            <strong>Dénomination sociale</strong>
            : Innoveduc Organisme de formation enregistré auprès du Préfet de la région Centre le 23 juin 2014 sous le n° 24 28 0154228 – SAS au capital de 7 000 euros – 794 926 063 00015 RCS Chartres</p>
        <p>
            <strong>Siège social</strong>
            : 18 rue de La Gare 28240 La Loupe</p>
        <p>
            <strong>Numéro de téléphone</strong>
            : 09 72 52 63 94</p>
            
        <p>
            <a target="_blank" href="https://fr.linkedin.com/in/charlaine-tournadre"><strong>Développeur</strong>
                : Charlaine Tournadre</a> </br>
            <a target="_blank" href="https://fr.linkedin.com/in/grégory-bizet-792b17111"><strong>Développeur</strong> : Gregory Bizet</a> </br>
            <a target="_blank" href="https://fr.linkedin.com/in/julien-keita"><strong>Développeur</strong>
            : Julien Keïta</a> </br>
        <p>
    </div>

    <h2>Garanties et responsabilité</h2>
    <div class="textMentions">
        <p>Le Pays du Perche ornais s’efforce d’assurer au mieux que les informations accessibles par l’intermédiaire du site sont exactes et mises à jour. Cependant, le Pays du Perche ne garantit en aucune manière que ces informations soient exactes,
            complètes et à jour.</p>
    </div>

    <h2>Crédits photos</h2>
    <div class="textMentions creditPhotos">
        <p>David Commenchal</p>
        <p>Parc naturel régional du Perche</p>
        <p>Pays du Perche ornais</p>
        <p>Pays du Perche d’Eure et Loir</p>
        <p>Communautés de Communes</p>
    </div>

    <h2>Liens vers d’autres sites Internet</h2>
    <div class="textMentions">
        <p>Ce site contient un certain nombre de liens vers d’autres sites Internet. Le Pays du Perche ne peut être tenu pour responsable du contenu de ces sites Internet extérieurs.</p>
    </div>

    <h2>Droits d’accès, de rectification et de suppression des données personnelles</h2>
    <div class="textMentions">
        <p>Conformément à la Loi Informatique et Libertés du 6 janvier 1978, vous disposez à tout moment d’un droit d’accès, de rectification et de suppression des données personnelles vous concernant.
        </p>
        <p>Si vous souhaitez exercer ce droit, il vous suffit de contacter le Pays du Perche ornais.</p>
    </div>

    <h2>Reproduction ou représentation</h2>
    <div class="textMentions">
        <p>Le site est protégé par les lois régissant la propriété intellectuelle.</p>
        <p>Toute reproduction ou représentation, en tout ou partie, sans le consentement du Pays du Perche est interdite.</p>
    </div>
</div>
