<!-- <form class="form-inline view">
    <div class="form-group">
        <input type="text" class="form-control" id="inputMessage" placeholder="Your task" ng-model="description">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="inputMessage" placeholder="Your task" ng-model="lastName">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="inputMessage" placeholder="Your task" ng-model="userFunction">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="inputMessage" placeholder="Your task" ng-model="userEmail">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="inputMessage" placeholder="Your task" ng-model="userNote">
    </div>
    <button type="submit" class="btn btn-default" ng-click="add()">Add</button> -->
<!-- </form> -->
<!-- <hr>
<ul class="list-group">
    <li class="list-group-item" ng-repeat="todo in todos">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="inputMessage" ng-model="todo.description">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="inputMessage" ng-model="todo.lastName">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="inputMessage" ng-model="todo.userFunction">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="inputMessage" ng-model="todo.userEmail">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="inputMessage" ng-model="todo.userNote">
            </div> -->
<!-- <div class="pull-right">
                <button type="submit" class="btn btn-default" ng-click="update()">Update</button>
                <button type="submit" class="btn btn-danger" ng-click="delete()">Delete</button>
            </div>
        </form> -->
<!-- </li>
</ul> -->


	<!-- <h1 class="titre" id="logo" style="font-weight: bold;">Mes contacts</h2>
</center>
<div class="block">
	<div ng-repeat="user in users" class="inline">
		<div class="personnes">
			<center> -->
<!-- <img data-ng-src="{{user.userPhoto}}" /> -->
<!-- <p ng-model="user.userName"></p> -->
<!-- <p class="contact" ng-repeat="">{{user.userName}}</p>

</center>
		</div>
	</div>
</div> -->
<style type="text/css">
.friend {
	margin-bottom: 40px;
	margin-top: 40px;
	list-style: none;

}
</style>
<div class="container">
	<h2 class="connect">Mes contacts</h2>
	<input type="text" id="inputMessage" style="width: 40%; text-align: center" ng-model="searchFriend" placeholder="Recherchez directement par nom, fonction ou lieu !">
	<ul>
		<li class="col-sm-4 friend" ng-repeat="friend in friendlist | filterBySearchFriend:searchFriend:user">
			<img class="imgCard" src="http://www.clipartbest.com/cliparts/4ib/Kz7/4ibKz78KT.gif" alt="Photo de profil" />
			<p>{{friend.userName}} {{friend.userFirstname}}</p>
			<p>{{friend.userFunction}} à {{friend.userVille}}</p>
		</li>
	</ul>
</div>
