<div class="container">

    <div class="row  col-md-6 col-md-offset-3">

            <center>
                <img src="img/logo_pole.png" alt="" width="280px">
            </center>
            <form class="form-signin" style="text-align:center; margin-top: 40px">
                <input type="name" class="form-control" ng-model="user.userName" placeholder="Votre nom" required>
                <input type="firstname" class="form-control" ng-model="user.userFirstname" placeholder="Votre prénom" required>
                <input type="password" class="form-control" ng-model="user.userMdp" placeholder="Votre mot de passe" required>
                <input type="confirmPassword" class="form-control" ng-model="user.userConfirm" placeholder="Confirmez votre mot de passe" required>
                <input type="fonction" class="form-control" ng-model="user.userFunction" placeholder="Votre fonction" required>
                <input type="enterprise" class="form-control" ng-model="user.userEnterprise" placeholder="Votre structure" required>
                <input type="ville" class="form-control" ng-model="user.userVille" placeholder="Votre ville" required>
                <input type="phone" class="form-control" ng-model="user.userPhone" placeholder="Votre numéro de téléphone" required>
                <input type="note" class="form-control" ng-model="user.userNote" placeholder="Note à propos de vous" required>

                <h3> Votre photo </h3>
                <div flow-init="{target: '/upload', singleFile: true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-name="uploader.flow" flow-files-added="processFiles($files)">

                    <center>
                        <button flow-btn flow-attrs="{accept:'image/*'}" type="file" ng-click="download" class="btn btn-success">Télécharger une image</button>
                    </center>


                    <center>
                        <span class="text"></span><img class="preview" flow-img="image" />
                        <br>
                        <span class="text"></span> <img class="preview" ng-src="{{friend.userImg}}" />
                        <p>
                            <span class="btn fa fa-trash" ng-show="$flow.files.length" ng-click="image.cancel()"></span>

                        </p>
                    </center>


                </div>

                <!--<div class="alert alert-danger" ng-show="connection==1" role="alert">Veuillez entrer un email ou un mot de passe valide.</div>-->
                <a href="#/">
                    <button class="btn btn-lg btn-success" style="padding-bottom: 35px; margin-top: 60px" ng-click="update()" type="submit">
                        Mettre à jour</button>
                </a>

            </form>


    </div>
</div>
