body {
  background-image: url(../img/senonches.486.jpg);
  background-size: cover;
  overflow-x: hidden;
}
#wrapper.toggled #sidebar-wrapper {
  background-color: white;
}

.accueilOne {
  margin-top:150px;
/*  margin-left:100px;*/
  width: 1050px;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(159, 191, 255, 0) !important;
}
.theColumn {
  margin-left:0px;
  margin-right: 0px;
}

/* Selecteur général : tuiles */
.tilev {
  width: 350px;
  height:250px;
  background-color:white;
  box-shadow: 1px 1px 5px black;
  transition:0.5s;
}
.tilev:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 10px black;
}

.closeButton1, .closeButton2 {
  width:50px;
  height:50px;
  position:absolute;
  background-color:red;
  color:white;
  font-size:1.5em;
  font-weight:bold;
  margin-top:-20px;
  margin-left: 720px;
  border-radius: 50px;
  padding: 10px;
  box-shadow: -1px 1px 3px black, 1px 0px 6px black;
  text-shadow: 0px 0px 2px black;
  opacity: 0;
  transition:0.2s;
  }

  .closeButton1:hover, .closeButton2:hover {
    transform: scale(1.1);
  }

/* Colonne 1 */
.columnOne {
  width: 300px;
  height:800px;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.columnOne > .tilev {
  width: 300px;
}

/* Tuile Contact */
.thePhoneMail {
  background-color: #006666;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.thePhoneMail > h1 {
  color: white;
}



/* Icones Téléphone et Mail */
.phoneAndMailIcon {
  width:290px;
  height:100%;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.phoneIcon {
  width: 100px;
  height: 100px;
  background-image: url(http://images.clipartpanda.com/phone-icon-vector-telephone-icon-vector-png.png);
  background-size:contain;
  border:2px solid white;
  border-radius: 50px;
  transition: 0.5s;
}
.phoneIcon:hover {
  transform:translateY(-10px);
}

.mailIcon {
  width: 100px;
  height: 100px;
  background-image: url(http://cdn.mysitemyway.com/icons-watermarks/flat-circle-white-on-black/raphael/raphael_mail/raphael_mail_flat-circle-white-on-black_512x512.png);
  background-size: contain;
  border:2px solid white;
  border-radius: 50px;
  transition: 0.5s;
}
.mailIcon:hover {
  transform:translateY(-10px);
}

/* Tuile Agenda */
.theAgenda {
  height: 517px;
  border:none;
  box-shadow: 1px 1px 5px black;
  overflow:hidden;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.subAgenda {
  height:517px;
  width:100%;
}

.imgAgenda {
  width: 100%;
  height:100%;
}

.imgEvent {
  width:500px;
  height:500px;
}
.textEvent {
  display:none;
  width: 700px;
  height: 500px;
  color:black;
}
.imgAgendaAfter {
  width:400px;
}
.infoAgenda {
  width:300px;
  float:right;
  margin-top:170px;
}
.phoneWithoutIcon {
  color:white;
  font-size:2.4em;
}



/* Colonne 2 */
.columnTwo {
  width:350px;
  height:800px;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}

/* Tuile Créer son entreprise */
.theCreation {
  background-color: #38B8C8;
  display: flex;
  align-items: center;
}
.theCreation > h1 {
  color: white;
}
.activityContent {
  width:100%;
  margin-top:5px;
}
/*Tuile Créer son entreprise APRES aggrandissement*/
.account-wall-activity {
  padding:10px;
}
.bigCreation {
  background-color: lightblue;
}
.form-signin-activity {
  margin-top:-10px;
    background-color: rgb(0, 180, 205);
    z-index:5;
}
.theAgenda {
  background-color: #AAAE18;
}

.form-message {
  height:90px !important;
}

/* Tuile Reprendre une entreprise/local */
.theSociety {
  background-color: orange;
  display: flex;
  align-items: center;
}
.theSociety > h1 {
  color: white;
}
.societyContent {
  height:100%;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.societySearchButton {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.societySearchButton > button {
  width: 150px;
  height:100px;
  padding:20px;
  border-radius:10px;
}
/*Gestion recherche d'entreprise*/
.searchSociety {
  width:720px;
  height:550px;
}
.listSociety {
  width:100%;
  height:100%;
}
.society {
  color:black;
  list-style-type: none;
  display:inline-block;
  width:100%;
}

.infoSocietyContainer {
  width: 300px;
  height:300px;
}
.imgSocietyContainer {
  width: 300px;
  height:300px;
}

/*Gestion recherche d'un local*/
.searchLocal {
  width:720px;
  height:550px;
}
.listLocal {
  color:black;
  list-style-type: none;
  display:flex;
  flex-flow: column nowrap;
  width:100%;
}
.infoLocalContainer {
  display:flex;
  flex-flow: row nowrap;
  width:700px;
  height:500px;
  align-items: center;
  justify-content: space-around;
}
.infoLocal {
  width: 350px;
  height:500px;
  display:flex;
  flex-flow: column wrap;

}
.imgLocalContainer {
  width: 350px;
  height:300px;
  display:flex;
  flex-flow: column nowrap;
}
.imgLocal {
  height:200px;
  width:200px;
}

/*Tuile Créer son entreprise APRES aggrandissement*/
.bigSociety {
  background-color: orange;
}

/* Tuile Youtube */
.theYoutube {
  overflow:hidden;
}
.theYoutubeVideo {
  transform:scaleY(1.27);
}
.theYoutube:hover {
  transform:translateY(-10px);
}


/* Colonne 3 */
.columnThree {
  width: 350px;
  height:800px;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}

/* Tuile  Scoopit !*/
.theScoupit {
  overflow: hidden;
  background-color: gray;
}
.theScoopitContent {
  margin-top: -2px;
  transform:scaleX(1.2) scaleY(1.005);
}
/* Tuile Reprendre une entreprise/local */
.thePhoto {
  background-image: url(/img/doudou-la-loupe-006.jpg);
  background-size: cover;
}
/* Tuile S'installer dans le Perche */
.theLinks {
  background-color: #E73664;
  display: flex;
  align-items: center;
}
.bigLinks {
  background-color: violet;
}
.theLinks > h1 {
  color: white;
}
