.view {
    margin-top: 100px;
}
body {
    /*background-image: url(../img/paysage.28_perche.16.JPG);*/
   	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*background-color: rgba(0, 0, 0, 0.8);*/
    font-family: "Ubuntu", arial;
}

/*=================================================================
                            Accueil
=================================================================*/


.title {
    text-align: center;
    font-size: xx-large;
}

.accueil{
    margin-top: 150px;
}
.range {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tile {
    height: 250px;;
    width:550px;
    background-color: red;
    box-shadow: 1px 1px 7px black;
    margin-bottom: 30px;
    color: white;
    transition: 0.5s ease-in;
}
.tile:hover {
    box-shadow: 1px 1px 5px black;
}

.movePerche {
    width: 700px;
}

/********* TILE ACTIVITY *******/

.createActivity {
    background-color: #006666;
    background-size: cover;
    opacity: 0.9;
    width:800px;
/*    border-radius: 10px;*/

}
.account-wall-contact {
    background-image: url(../img/_MG_8447.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 20%;
    
}

.row {
    padding: 40px 0px 20px 0px;
    background-color: rgba(247, 247, 247, 0.5);
    border-radius: 20px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.icones {
    width: 80px;
    height: auto;
    text-align: center;
}
.close-button{
    margin-top: -250px;
}

.createActivity:hover > .justHover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
/*     border-radius: 10px;*/
}
.createActivity:hover > .littletitle {
  color:rgba(255, 255, 255, 1);
}
.littletitle {
  color:rgba(0, 0, 0, 1);
  font-size:2em;
  transition:0.6s ease-in;
  margin-top:-160px;
    opacity: 0.9;

}
.justHover {
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    opacity: 0.9;
    transition: 0.4s ease-in;
}

.form-pop-society {
/*background-image: url(../img/_MG_8503.jpg);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 20%;
}
.buySociety {
    background-color: #00cccc;
    background-size: cover;
    min-width:200px;
    opacity: 0.9;
/*    border-radius: 10px;*/
}
.buySociety:hover > .justHover {
    background-color: rgba(0, 0, 0, 0.5);
}
.buySociety:hover > .littletitle {
  color:rgba(255, 255, 255, 1);
}

.myAgenda {
  overflow:hidden;
  min-width:200px;
    opacity: 1;
/*    border-radius: 10px;*/

}

.videoCard {
    width: 400px;
    overflow:hidden;
    opacity: 0.9;
/*    border-radius: 10px;*/
}
.youtubeVideo {
  transform: scaleY(1.2);
  margin-top:-4px;
    opacity: 0.9;
/*    border-radius: 10px;*/
}

.movePerche {
    background-color: #ff9900;
    background-size: cover;
    opacity: 0.9;
/*    border-radius: 10px;*/

}

.form-pop-lePerche {
    background-image: url(../img/belleme_trafiqu%C3%A9e.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 20%;
}
.littlepetittitle {
  color:rgba(0, 0, 0, 1);
  font-size:2em;
  transition:0.6s ease-in;
    opacity: 0.9;
}

/********* TILE SCOOPIT *******/

.scoopitou {
  width: 300px;
/*    border-radius: 10px;*/

}
 .myScoopit {
    margin-top: -5px;
    margin-left:-0px;
    width: 300px;
    height: 255px;
/*     border-radius: 10px;*/
}

/********* MODAL CREATION SOCIETY *******/


.createBox {
  margin-top:20%;
}

.mail {
  text-align:center;
}
.phone {
  text-align:center;
}
.well {
  width:100%;
  text-align:center;
}

/*=================================================================
                            Ma carte
=================================================================*/

.globale {
    width: 100%;
    text-align: center;
}
.card {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
    width: 400px;
    height: 100%;
    box-shadow: 0px 0px 5px black;
    background-color: rgba(0,0,0, 0.6);
    color: aliceblue;
}
.imgCard {
    height: 150px;
    width: 140px;
    box-shadow: 1px 1px 5px black;
    background-color: white;
}
.logos {
    display: flex;
    flex-direction: row;
}
.logo {
    height: 80px;
    width: 80px;
}



.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-top:-300px;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}

/********************************/
/*          Custom Buttons      */
/********************************/
/*.btn.btn-lg {padding: 10px 40px;}*/
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: rgba(0, 0, 0, 0.5);
    outline: none;
    margin: 20px auto;
    padding-bottom:30px;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818);
}
.fade-carousel .slides .slide-2 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339684178-3a239570f315?q=75&fm=jpg&s=c39d9a3bf66d6566b9608a9f1f3765af);
}
.fade-carousel .slides .slide-3 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327);
}
label {
  color:black;
}
