

/********* TILE ACTIVITY *******/

.createActivity {
    background-color: #006666;
    background-size: cover;
    overflow:hidden;
    transition: 0.6s ease-out;
    cursor: pointer;

}
.createActivity:hover > .justHover {
    background-color: rgba(0, 0, 0, 0.5);
}
.createActivity:hover > .littletitle {
    color: rgba(255, 255, 255, 1);
}
