.view {
    margin-top: 100px;
}

body {
    background-image: none;
}


/*=================================================================
                            Accueil
=================================================================*/

.tiles {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    padding: 0px 50px 0px 50px;
    max-width: 90%;
}

.tiles > a {
    flex: 30 4 auto;
    align-self: stretch;
    height: 200px;
    min-width: 200px;
    max-width: 800px;
    margin-left: 10px;
    margin-top: 30px;
    left: 1200px;
    cursor: pointer;
    color: #FFF;
    font-size: 25px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding-left: 10px;
    text-align: left;
    transition: 1s;
}

.one {
    background: #06F;
    flex-grow: 3;
    flex-basis: 3;
    width: 70%;
}

.two {
    background: #C30;
    flex-grow: 1;
    flex-basis: 0;
    width: 30%;
}

.three {
    background: #F60;
    flex-grow: 2;
    flex-basis: 0;
}

.four {
    background: #C3C;
}

.five {
    background: #F36;
}

.six {
    background: #6C0;
}

.seven {
    background-color: yellow;
}

.eight {
    background-color: yellowgreen;
}

.scoopit {
  margin-top:-33px;
    width: 400px;
    height: 180px;
}


/*=================================================================
                            Ma carte
=================================================================*/

.globale {
    width: 100%;
    text-align: center;
}

.card {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
    width: 300px;
    height: 100%;
    box-shadow: 0px 0px 5px black;
    background-color: rgb (0, 0, O,1);
}

.imgCard {
    height: 150px;
    width: 140px;
    box-shadow: 1px 1px 5px black;
    background-color: white;
}

.logos {
    display: flex;
    flex-direction: row;
}

.logo {
    height: 80px;
    width: 80px;
}
