/*=================================================================
                              FOOTER
=================================================================*/

#footer {
   height: 400px;
    bottom: 0;
/*
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    box-shadow: inset 0 20px 2px -20px black;
    height: 65px;
    max-height:100px;
    margin-top: 50px;
*/
}

.lineUp {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.lineDown {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.logoPartenaire {
    height: 50px;
    max-width: 150px;
    
}

/*

.footer a {
    text-decoration-color: midnightblue;
    color: darkslategrey;
    transition: 0.8s;
}

.footer a:hover {
    font-weight: bold;
}

.footer div {
    color: black;
}

.perche {
    padding: 20px;
    font-size: 1.3em;
    height: 100%;
}

.mentions {
    padding: 20px;
    font-size: 1.3em;
    height: 100%;
}

.reallogo {
    height: 100%;
}

.realisation {
    padding: 22px;
}

.logo {
    padding: 15px;
}

.logoWCS {
    width: 80px;
    margin-left: 50%;
    margin-top: 5px;
    transform: translateX(-50%);
}
*/
