/*=================================================================
                              FOOTER
=================================================================*/

.footer {
    height: auto;
/*
   background-image:-webkit-linear-gradient( black, white);
   background-image:-o-linear-gradient(black, white);
   background-image:linear-gradient(black,white);
*/
    background-color: white;
    margin-top: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;*/
}

.lineUp {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: row;
}
.lineDown {
    /*display: flex;
    justify-content: space-around;
    flex-direction: row;*/
    align-items: center;
}
.logoPartenaire {
    /*height: 50px;
    max-width: 150px;*/

}
