/*=================================================================
                            GENERAL
=================================================================*/

body {
    padding-top: 70px;
    margin-top: 50px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0,5);

}

.password {
    text-align: center;
    color: #F6A327;
}

.connect {
    text-align: center;
    color: #F6A327;
}

.account {
    text-align: center;
    color: #F6A327;
}


/*=================================================================
                              NAVBAR
=================================================================*/

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 7px;
    background-color: #741F62;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;
}

.sidebar-nav li:nth-child(2):before {
    background-color: #F6A327;
}

.sidebar-nav li:nth-child(3):before {
    background-color: #38B8C8;
}

.sidebar-nav li:nth-child(4):before {
    background-color: #E73664;
}

.sidebar-nav li:nth-child(5):before {
    background-color: #AAAE18
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;
}

.sidebar-nav li a {
    display: block;
    color: #1F6F6F;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    color: #1F6F6F;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
    margin-top: 200px;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
}


/*=================================================================
                          BURGER BUTTON
=================================================================*/

.hamburger {
    position: fixed;
    top: 40px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 45px;
    background: transparent;
    border: none;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #1F6F6F;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    background-color: #1F6F6F;
}

.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: #1F6F6F;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-open .hamb-top {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open .hamb-middle {
    display: none;
}

.hamburger.is-open .hamb-bottom {
  -moz-transform: rotate(-45deg);
  -moz-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}


/*=================================================================
                             OVERLAY
=================================================================*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 10;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250, 250, 250, .4);
    z-index: 1;
}

.overlay:active {
    overflow-x: hidden;
}




/*=================================================================
                       MENTIONS LEGALES PAGE
=================================================================*/

.mentionsLegales {
    background-color: white;
    margin-top: -60px;
    margin-bottom: -60px;
    padding: 15%;

}

/*
.mentionTitle {
    margin-top: 60px;
    padding-top: 150px;
    text-align: center;
    height: 220px;
    background-image: url(/img/droit.jpg);
    opacity: .8;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 0px 2px black;
    color: white;
    text-shadow: 0px 0px 3px black;
}

.mentionsLegales h2 {
    margin-top: -10px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    background-color: rgba(27, 29, 40, 0.5);
    box-shadow: 1px 0px 5px black;
    color: white;
    text-shadow: 0px 0px 2px black;
}

.textMentions {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    text-align: center;
}

.creditPhotos {
    text-align-last: center;
}
*/


/*================================================================
                             HEADER
================================================================*/

header {
    height: auto;
    width: 100%;
    margin: auto;
    top: 0px;
    opacity: 0, 1;
    position: absolute;-
}

.logoperche {
    height: 150px;
    margin-top: 40px;
    transform: translateX(-32px);
}


/*================================================================
                              LOGIN
================================================================*/

.form-signin {
    max-width: 330px;
    /*padding: 15px;*/
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="confirmpassword"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[type="firstname"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[type="ville2"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[type="enterprise"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[type="note"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.account-wall {
    padding: 40px 0px 20px 0px;
    background-color: rgba(247, 247, 247, 0.5);
    border-radius: 20px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}


.login-title {
    color: white;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.need-help {
    margin-top: 10px;
}

.new-account {
    display: block;
    margin-top: 10px;
    color: white;
}


/*=================================================================
                          HOME VIEW
=================================================================*/

.accroche {
    color: grey;
    margin-top: 7%;
    text-align: center;
    margin-bottom: 40px;
}

.container {
    margin-top: 50px;
    text-align: center;
    padding-left: 0px !important;
}


.imgvtt {
    width: 640px;
}

.imgemploi {
    width: 200px;
    margin-top: 10px;
}


/*=================================================================
                         MEDIA QUERIES
=================================================================*/

@media (max-width: 800px) {
    body {
        margin: auto;
        text-align: center;
        padding-top: 70px;
        margin-top: 20px;
    }
    html {
        width: 100%;
    }
    .accroche {
        margin-top: 20%;
    }
    #ytplayer {
        margin-left: 3px;
    }
    .scoopit {
        margin-left: -1px;
    }
    .connect {
        margin-top: 70px;
    }
    .account {
        margin-top: 70px;
    }
    .password {
        margin-top: 70px;
    }
    .logoperche {
      margin-left: -200px;
      margin-bottom: 20px;
    }
    .container {
      margin-top: 150px;
    }
    .modal-body {
      width: 340px !important;
    }
    .modal-content {
      width: 340px !important;
    }
    .list-group-item {
      padding: 30px 0px !important;
    }
    .row {
      margin-top: 0px !important;
      margin-bottom: 0px !important;
      margin-left: 15px !important;
      margin-right: auto !important;
    }
    .contactlist {
      width: 70%;
      margin-left: 46%;
      transform: translate(-50%);
    }
    .card {
      width: 97% !important;
    }
    .cardHead {
      display: block !important;
    }
    .imgCard {
      vertical-align: top !important;
      margin-bottom: 10px;
    }
    .range {
      margin-left: 4%;
    }
    .filter {
      margin-top: 30%;
      margin-left: 5%;
      width: 95% !important;
    }
    /*.title {
      margin-left: 35% !important;
      margin-top: -15% !important;
      font-size: 27px !important;
    }*/
    .pagination {
      display: inline !important;
      width: 300px !important;
      position: absolute !important;
      margin-top: -77px !important;
      margin-left: 394px !important;
    }
    .pagination2 {
      display: inline !important;
      width: 280px !important;
      position: absolute !important;
      margin-top: 65px !important;
      margin-left: -647px !important;
    }
    .testimonialImg {
      width: 150px !important;
      height: 150px !important;
    }
    .mediumCreation {
        background-color: #38B8C8;
        padding: 10px;
        width: 100%;
        height: 800px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .mediumCreationClose {
      margin-left: 79% !important;
      margin-top: -15px !important;
    }
    .pagination-button2 {
      margin-left: -169% !important;
      margin-top: 0px !important;
    }
    .pagination-button3 {
      margin-left: -150% !important;
      margin-top: 517px !important;
      transform: none !important;
    }
    .mediumContentSociety {
      display: block !important;
      height: 55% !important;
    }
    .infoSocietyContainer {
      height: 225px !important;
      width: 280px !important;
      margin-left: 50%;
    transform: translateX(-50%);
    }
    .imgSocietyContainer {
      width: auto !important;
    }
    .imgSociety {
      width: auto !important;
      height: auto !important;
    }
    .bureauType {
      margin-top: 0px !important;
    }
    /*.bigLinks {
      width: 323px !important;
      height: 730px !important;
      padding-top: 60px !important;
    }*/
    .bigCreationClose4 {
/*<<<<<<< HEAD*/
      margin-left: 81% !important;
/*=======
      margin-left: 79% !important;
>>>>>>> f1518485daf577a1bec1d1d5fa5dca5f2d88d915*/
      margin-top: -35px !important;
    }
    #my_carousel2 {
      width: 115% !important;
      margin-left: -7% !important;
      margin-top: 20% !important;
    }
    .link {
      margin-top: 10% !important;
    }
    .mentionsLegales {
      margin-top: 45% !important;
    }
    .imgAgendaAfter {
      display:none;
    }
    .infoAgenda {
      width:100% !important;
      height:100% !important;
      transform:none !important;
    }
    .littleAgenda{
      width:100% !important;
      height:517px !important;
      border: none;
      box-shadow: 1px 1px 5px black;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }

}

@media (max-width: 900px) {
    .footer {
        width: 280%;
    }
    .title {
      margin-left: 41% !important;
      margin-top: -7% !important;
      font-size: 27px !important;
    }
}
@media (max-width: 550px) {
    .title {
      margin-left: 35% !important;
      margin-top: -15% !important;
      font-size: 27px !important;
    }
}
@media (max-width: 1150px) {
  /*.tilev {
    width: 100% !important;
  }*/
}


/*=================================================================
                         MERDIER D'ACCUEIL
=================================================================*/

body {
    margin: 0;
    overflow: auto;
}


/*#btn1{
	background:#06F;
	height:200px;
	width:500px;
	position:relative;
	margin-left:10px;
  margin-top:30px;
	left:1200px;
	cursor:pointer;

	color:#FFF;
	font-size:25px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-left:10px;
	text-align:left;


}
#btn2{
	background:#C30;
	height:200px;
	width:500px;
	position:relative;
	margin-left:10px;
  margin-top:30px;
	left:1200px;
	cursor:pointer;

	color:#FFF;
	font-size:25px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height:300px;
	padding-left:10px;
	text-align:left;
}

#btn3{
	background:#F60;
	border-color:#F60;
	height:200px;
	width:500px;
	position:relative;
	margin-left:10px;
  margin-top:30px;
	left:1200px;
	cursor:pointer;

	color:#FFF;
	font-size:25px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-left:10px;
	text-align:left;
}

#btn4{
	background:#C3C;
	border-color:#F60;
	height:200px;
	width:500px;
	position:relative;
	margin-left:10px;
	margin-top:30px;
	left:1200px;
	cursor:pointer;

	color:#FFF;
	font-size:25px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-left:10px;
	text-align:left;
}
#btn5{
	background:#F36;
	border-color:#F60;
	height:400px;
	width:400px;
	position:relative;
	margin-left:10px;
	margin-top:30px;
	left:1200px;

	color:#FFF;
	font-size:25px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-left:10px;
	text-align:left;
}

#btn6{
	background:#6C0;
	height:200px;
	width:200px;
	position:relative;
	margin-left:10px;
	margin-top:30px;
	left:1200px;
	cursor:pointer;

	color:#FFF;
	font-size:25px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height:300px;
	padding-left:10px;
	text-align:left;
}
*/

#content {
    background: #FFF;
    -moz-box-shadow: 1px 1px 1px 1px #656565;
    -webkit-box-shadow: 1px 1px 1px 1px #656565;
    -o-box-shadow: 0px 0px 5px 0px #656565;
    box-shadow: 0px 0px 5px 0px #656565;
    position: relative;
    top: 1000px;
    z-index: 0;
    margin-left:-745px;
    margin-top:300px;
}

#backbutton {
    position: relative;
    left: 760px;
    cursor: pointer;
}

#caption {
    position: relative;
    top: -60px;
    color: #FFF;
    font-size: 25px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#pagecaption {
    position: relative;
    top: -60px;
    color: #FFF;
    font-size: 25px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


/*=================================================================
                        PAGE ADMIN
=================================================================*/

button {
    display: block;
    color: black;
    font-weight: bold;
    height: 30px;
    line-height: 29px;
    margin-bottom: 14px;
    margin-left: 220px;
    text-decoration: none;
    width: 300px;
    background-color: #1F6F6F;
    padding-bottom: 35px;
}


/*=================================================================
                        MA CARTE
=================================================================*/

.carte {
    text-align: center;
    border: solid 1px black;
    width: 250px;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.photo {
    height: 100px;
    width: 100px;
}


/*=================================================================
                        MODAL
=================================================================*/

.modal {
    /*   display: block;*/
    padding-right: 0px;
    background-color: rgba(4, 4, 4, 0.8);
}
.modal-dialog {
    top: -2%;
    width: 100%;
    position: absolute;
}
.modal-content {
    margin-left: 50%;
    transform: translate(-50%);
    width: 500px;
    border-radius: 20px;
    border: none;
    background-image: url(/img/marguerite.png);
    padding: 40px 0px 20px 0px;
    background-color: rgba(247, 247, 247, 0.5)!important;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)!important;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)!important;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)!important;

}
.modal-body {
    background-image: url(/img/marguerite.png);
    min-height: 400px;
    width: 850px;
    text-align:center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 0px 20px 0px;
    background-color: rgba(247, 247, 247, 0.5);
    border-radius: 20px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}


/*=================================================================
                        CONTACT VIEW
=================================================================*/

.friend {
  margin-bottom: 40px;
  margin-top: 40px;
  list-style: none;
  border-radius: 20px;
  padding-top: 15px;
  margin-left: 1%;
  margin-right: 2%;
  cursor: pointer;
  background-image: url(/img/marguerite.png);
  background-color: rgba(247, 247, 247, 0.5)!important;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)!important;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)!important;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)!important;
}
.item-img-wrap {
  position: relative;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.item-img-wrap img {
  border-radius: 10px;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  width: 100%;
}

.item-img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.item-img-overlay span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(http://www.icone-png.com/png/35/34768.png) no-repeat center center rgba(0, 0, 0, 0.7);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -moz-transition: opacity 250ms linear;
  -o-transition: opacity 250ms linear;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

.item-img-wrap:hover .item-img-overlay span {
  opacity: 1;
}

.item-img-wrap:hover img {
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



/*=================================================================
                        MODAL CONTACT
=================================================================*/
/*
body { margin-top:20px; }
.modal-body:not(.two-col) { padding:0px }
.glyphicon { margin-right:5px; }
.glyphicon-new-window { margin-left:5px; }
.modal-body .radio,.modal-body .checkbox {margin-top: 0px;margin-bottom: 0px;}
.modal-body .list-group {margin-bottom: 0;}
.margin-bottom-none { margin-bottom: 0; }
.modal-body .radio label,.modal-body .checkbox label { display:block; }
.modal-footer {margin-top: 0px;}*/
@media screen and (max-width: 325px){
    .btn-close {
        margin-top: 5px;
        width: 100%;
    }
    .btn-results {
        margin-top: 5px;
        width: 100%;
    }
    .btn-vote{
        margin-top: 5px;
        width: 100%;
    }
    .modal-dialog {
      padding-left: 5%;
    }
}
/*.modal-footer .btn+.btn {
    margin-left: 0px;
}
.progress {
    margin-right: 10px;
}*/
.panel {
  border: none !important;
}


@font-face {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: ...;
}

/*=================================================================
                              FOOTER
=================================================================*/

footer {
    width: 100%;
    height: auto;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 0px;
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    clear: both;
    float:left;
/*

	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
*/
}


/*
.lineUp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.lineDown {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
*/
.logoPartenaire {
    height: 60px;
    max-width: 300px;

}
